<h1>This is the angular master repository containing examples of major Angular things</h1>
<p>This is created with Angular version 15 and the development started on 20th Jan 2022</p>
<ul>
    <li>
        <a routerLink="/pipes">Pipes</a>
        <ul>
            <li>
                <a routerLink="/pipes/pure">Pure pipe</a>
            </li>
            <li>
                <a routerLink="/pipes/impure">Impure pipe</a>
            </li>
        </ul>
    </li>
    <li>
        <a routerLink="/forms">Forms</a>
        <ul>
            <li>
                <a routerLink="/forms/template-driven">Template driven form</a>
            </li>
            <li>
                <a routerLink="/forms/reactive">Reactive form</a>
            </li>
        </ul>
    </li>
    <li>
        <a routerLink="/ngrx">NgRx example</a>
    </li>
</ul>
<router-outlet></router-outlet>
